
Backend/Time-tracker/src/main/resources/application.properties
Backend/tests/src/Main.java
Backend/Time-tracker/src/main/java/MaHyxa/Time/tracker/model/Test.java
Backend/tests/src/Main.java
*.env
Backend/Time-tracker/src/main/resources/application-dev.yml
Backend/Time-tracker/src/main/java/MaHyxa/Time/tracker/task/specDemo.java
Backend/Time-tracker/src/main/resources/application-dev.yml
realm-export.json
test/index.html
test/styles.css
tt2
Backend/Time-tracker/src/main/java/MaHyxa/Time/tracker/config/databases/keycloak_not_in_use/KeycloakConnection.java
Backend/Time-tracker/src/main/java/MaHyxa/Time/tracker/config/databases/keycloak_not_in_use/UserController.java
Backend/Time-tracker/src/main/java/MaHyxa/Time/tracker/config/databases/keycloak_not_in_use/UserRepositoryCustom.java
Backend/Time-tracker/src/main/java/MaHyxa/Time/tracker/config/databases/keycloak_not_in_use/UserRepositoryCustomImpl.java
/Backend/Time-tracker/src/main/resources/application-prod.yml
docker-compose2.yml
